
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*{
    margin: 0;
    padding: 0;
}

img{
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    filter: blur(2px);
    

}

body{
    font-family: 'Press Start 2P', system-ui;
}

.countdownContainer{
    z-index: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
}

.countdownContainer p{
    font-size: 6rem;
    color: #fff;
    border: #000000;
    -webkit-text-stroke: 2px #000; 
    text-stroke: 2px #000;
}
.btnContainer{
    padding: 0;
    width: 400px;
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-left: auto; margin-right: auto;
}
.countdownContainer button{
    font-family: 'Press Start 2P', system-ui;
    height: 50px; 
    color: #fff;
    -webkit-text-stroke: 1px #000; 
    text-stroke: 1px #000;
    width: 100%;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 6px;
    font-size: 1.4rem;
    width: 100%;
    

}
#submit{
    width: 400px;
}
.countdownContainer button:focus{


}

.addcontainer{
    display: flex;    
    justify-content: center;
    gap: 10px;
    right: 150px;
    top: -60px;
}
#rem,
#plus{

    width: 100px;
    height: 40px;
    padding-left: 5px; padding-right: 5px;
    margin-bottom: 15px;
    font-size: 16px;
    text-align: center;
   
}

@media screen and (max-width: 500px) {
    *{
        
    }
    .countdownContainer p{
        margin: 10px;
        font-size: 4.5rem;
    }
    .btnContainer{
        justify-content: space-evenly;
    }
    .countdownContainer button{
        width: 100%;
        height: 30px;
        font-size: 1rem;
    }
    #rem,
    #plus{
        width: 75px;
        height: 30px;
        padding-left: 5px; padding-right: 5px;
        font-size: 12px;
    }
  }


input{
    font-family: 'Press Start 2P', system-ui;
    border: 1px solid #ffffff;
    margin-top: 20px;
    margin-bottom: 10px;
    width:  383px;
    height: 40px;
    background-color: transparent;
    border-radius: 6px;
    color: rgb(239, 239, 239);
    border-color: white;
    padding-left: 15px;
    font-size: 1rem;
    transition: 0.7s;
    -webkit-text-stroke: 0.5px #000; 
    text-stroke: 0.5px #000;

}
input::placeholder {
    color: #fff; 
    -webkit-text-stroke: 0.5px #000; 
    text-stroke: 0.5px #000;
}

#todo-list{
    height: 100%;
    position: absolute;
    width: 95%;

}

#todo-list .todo-item{
    
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
    border: solid white 1px;
    border-radius: 6px;
    color: #fff;
    width: 100%;
    font-size: 0.7rem;
    padding-left: 10px; padding-right: 10px;
    height: 30px;
    -webkit-text-stroke: 0.5px #000; 
    text-stroke: 0.5px #000;
    align-items: center;
    
}
.delete-btn{
    filter: grayscale(90%);
    cursor: pointer;
}

#right{
    display: flex;
    gap: 10px;
    align-items: center;
}
#todo-list input{
    margin: 0;
    width: 20px; height: 20px;
}






#mute{
    position: fixed;
    right: 20px;
    bottom: 30px;
    height: 100px;
    width: 100px;
    background-color: transparent;
    border: none;
    padding: 0;
    z-index: 20;
    display: flex;
    justify-content: center;

}
#mute img{
object-fit: cover;
   width: 100px;
   height: 100px;
}

 
